div.wrapper h1{
    margin-bottom: 0px;
}
.wrapper{
    text-align: center;
}
.top-container{
    display:inline-block;
    width:75%;
    text-align:left;
    padding-left:20px;
}
.form-container{
    width: 75%;
    text-align:left;
    display:inline-block;
}
#rn-label{
  color:white;
}
#name2-label{
  color:white;
}
div.wrapper .MuiDivider-root{ background: #ddd!important; margin-top: 20px!important;}
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
    border-color: #4caf50!important;
}
.MuiOutlinedInput-notchedOutline{
    border-color: white!important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: rgba(47, 223, 41, 0.842)!important;
}
.MuiFormLabel-root{
    color: white!important;
}
.MuiFormLabel-root.Mui-focused{
    color: #4caf50!important;
}
.formContainer{
    padding: 5px 15px;
    display: inline-block;
    vertical-align: middle;
}
div.wrapper h3{
    padding-left: 10px;
}
.workout-fill-in{
    padding:5px 10px;
}